.pagination {
  ul {
    display: inline-flex;
    gap: 0.8rem;

    li {
      button {
        cursor: pointer;
        width: 45px;
        height: 45px;
        border-radius: 9999px;
        background-color: hsl(var(--white));
        border: 1px solid hsl(var(--orange));
        color: hsl(var(--orange));
        transition: background-color var(--colors-transition-duration)
          ease-in-out;

        span {
          font-size: 1rem;
        }

        &:hover:not([disabled]) {
          color: hsl(var(--white));
          background-color: hsl(var(--darken-orange-hover));
          border-color: hsl(var(--darken-orange-hover));
        }

        &:active:not([disabled]) {
          background-color: hsl(var(--darken-orange-active));
          border-color: hsl(var(--darken-orange-active));
        }

        &:disabled {
          cursor: auto;
          color: hsl(var(--disabled));
          border-color: hsl(var(--disabled));
        }

        &.selected {
          cursor: auto;
          background-color: hsl(var(--orange));
          color: hsl(var(--white));
        }
      }
    }
  }
}
