.overlay {
  padding: 20px;
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.65);

  &.opened {
    display: grid;
    place-items: center;
  }

  &.closed {
    display: none;
  }

  .pizza-details-wrapper {
    display: flex;
    width: 100%;
    max-width: 850px;
    min-height: 600px;
    position: relative;
    background: #ffffff;
    border-radius: 20px;

    svg {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -42px;
      transition: transform 0.2s ease-in-out;

      path {
        fill: #ffffff;
      }

      &:hover {
        transform: scale(1.04);
      }
    }

    &__leftpart {
      display: grid;
      place-items: center;
      flex: 1;
      border-right: 1px solid #f1f1f1;

      img {
        position: relative;
        right: -12px;
        transition: all 0.15s ease;
      }
    }

    &__rightpart {
      display: flex;
      flex-direction: column;
      padding: 20px 30px; // vertical horizontal
      width: 100%;
      max-width: 330px;
      background: #f9f9f9;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;

      .characteristics {
        margin-top: 5px;
        color: #5c6370;
      }

      .description {
        margin-top: 5px;

        span {
          color: #000000;
        }
      }

      .selector {
        background-color: #e8e7e7;
        border-radius: 10px;
        margin-top: 10px;
        padding: 6px;
        text-align: center;

        ul {
          display: flex;

          &:first-of-type {
            margin-bottom: 6px;
          }

          li {
            flex: 1;
            cursor: pointer;
            font-weight: 600;
            font-size: 16px;
            padding: 8px;

            &.active {
              background-color: #ffffff;
              border-radius: 7px;
              cursor: auto; // if option already selected -> !cursor: pointer
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04); // x, y, blur radius, color
            }
          }
        }
      }

      .bottom {
        margin-top: auto;
        margin-bottom: 10px;
      }
    }
  }
}
