.pizza {
  width: 100%;
  max-width: 260px;
  text-align: center;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    cursor: pointer;
    width: 260px;
    height: 260px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(8px);
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 900;
  }

  &__selector {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 6px;

    ul {
      display: flex;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        flex: 1; // li takes all allowed width
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        padding: 8px;

        &.active {
          background-color: #ffffff;
          border-radius: 7px;
          cursor: auto; // if option already selected -> !cursor: pointer
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04); // x, y, blur radius, color
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin-left: 5px;
      font-size: 22px;
      font-weight: 700;
    }

    button {
      min-height: 50px;
      background-color: white;
      border-color: $orange;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        font-size: 16px;
        font-weight: 600;
        color: $orange;
      }

      svg {
        path {
          stroke: $orange;
        }
      }

      div {
        b {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 9999px;
          font-size: 15px;
          width: 26px;
          height: 26px;
          color: white;
          background-color: $orange;
        }
      }

      &:hover {
        svg {
          path {
            stroke: white;
          }
        }

        span {
          color: white;
        }

        div {
          b {
            color: $orange;
            background-color: white;
          }
        }
      }

      &:disabled {
        cursor: auto;

        background-color: #ffffff;
        border-color: #d0d0d0;

        svg {
          path {
            stroke: hsl(0 0% 82%);
          }
        }

        span {
          color: hsl(0 0% 82%);
        }

        div {
          b {
            color: #ffffff;
            background-color: #d0d0d0;
            border-color: #d0d0d0;
          }
        }
      }
    }
  }
}
