@import '../../variables';

.header {
  padding: 40px 0;
  border-bottom: 1px solid $gray-line;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; // vertical horizontal
    width: $content-width;
    align-items: center;

    @media (max-width: 945px) {
      flex-direction: column;

      .header__left {
        flex-direction: column-reverse;

        .search {
          width: 250px;
          margin-left: 0px;
          margin-bottom: 20px;

          input {
            width: 200px;
          }
        }

        .logo {
          margin-bottom: 20px;
          justify-content: center;
        }
      }
    }
  }

  &__left {
    display: flex;

    .logo {
      display: flex;

      img {
        margin-right: 17px;
      }

      h1 {
        color: #181818;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      p {
        color: #7b7b7b;
      }
    }

    .search {
      width: 300px;
      display: flex;
      align-items: center;
      margin-left: 30px;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px 20px;
      transition: border-color $duration ease-in-out;

      &:focus-within {
        border-color: darken(#f3f3f3, 12%);
      }

      img {
        margin-right: 10px;
      }

      input {
        border: 0px;
        font-size: 16px;
        width: 250px;
        margin-right: 10px;
        outline: none;
      }

      svg {
        cursor: pointer;
        position: absolute;
        right: 10px;
        width: 21px;
        height: 21px;
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }
      }
    }
  }
}
