@import '../libs/variables';

.header {
    padding: 40px;
    border-bottom: 1px solid $gray-line;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;

        img {
            margin-right: 17px;
        }

        h1 {
            color: #181818;
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 1%;
            text-transform: uppercase;
        }

        p {
            color: #7b7b7b;
        }
    }
}