@import '../variables';

.header {
    padding: 40px 0;
    border-bottom: 1px solid $gray-line;

    .container {
        margin: 0 auto; // vertical horizontal
        width: $content-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        position: relative;
        left: -130px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 10px;
        padding: 12px 20px 12px 42px;

        &:focus-within {
            border-color: darken(#f3f3f3, 12%);
        }

        img {
            position: absolute;
            left: 14px;
            bottom: 16px;
        }

        input {
            border: 0px;
            font-size: 16px;
            width: 350px;
            outline: none;
        }
    }

    &__logo {
        display: flex;

        img {
            margin-right: 17px;
        }

        h1 {
            color: #181818;
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        p {
            color: #7b7b7b;
        }
    }
}