@import './../../styles/variables';

.categories {
  ul {
    display: flex;
    gap: 10px;

    li {
      cursor: pointer;
      background-color: #f9f9f9;
      padding: 13px 30px; // top&bottom left&right
      border-radius: 30px;
      font-weight: bold;
      text-align: center;
      transition: background-color $duration ease-in-out;

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 7%);
      }

      // selected category
      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
