@import './../../styles/variables';

.cart {
  width: 100%;
  max-width: 850px;
  margin: 60px auto;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .title {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      span {
        font-weight: 700;
        font-size: 32px;
      }
    }

    .clear {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 7px;

      span {
        color: #b6b6b6;
        font-size: 18px;
      }

      svg {
        path {
          stroke: #b6b6b6;
        }
      }

      &:hover {
        span {
          color: darken(#b6b6b6, 50%);
        }

        svg {
          path {
            stroke: darken(#b6b6b6, 50%);
          }
        }
      }
    }
  }

  &__bottom {
    .summary {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      margin-bottom: 25px;

      &.desktop {
        @media (max-width: 650px) {
          display: none;
        }
      }

      &.mobile {
        @media (min-width: 650px) {
          display: none;
        }
      }

      span {
        font-size: 22px;

        b {
          margin-left: 5px;
        }

        &:last-of-type {
          b {
            color: $orange;
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      a {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          border: 1px solid #cacaca;

          span {
            color: #cacaca;
          }

          svg {
            margin-right: 10px;

            path {
              stroke: #cacaca;
            }
          }

          &:hover {
            background-color: #282828;
            border-color: #282828;

            span {
              color: white;
            }

            svg {
              path {
                stroke: white;
              }
            }
          }

          &:active {
            background-color: lighten(#282828, 10%);
          }
        }
      }

      button {
        span {
          color: white;
        }
      }
    }
  }
}
