$clear-button: 0 0% 71%;
$clear-button-hover: 0 0% 31%;

$go-back-button: 0 0% 79%;

.cart {
  width: 100%;
  max-width: 850px;
  margin: 60px auto;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .title {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      span {
        font-weight: bold;
        font-size: 2rem;
      }
    }

    .clear {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 7px;

      span {
        color: hsl($clear-button);
        font-size: 18px;
      }

      svg {
        path {
          stroke: hsl($clear-button);
        }
      }

      &:hover {
        span {
          color: hsl($clear-button-hover);
        }

        svg {
          path {
            stroke: hsl($clear-button-hover);
          }
        }
      }
    }
  }

  &__bottom {
    .summary {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      margin-bottom: 25px;

      &.desktop {
        @media (max-width: 650px) {
          display: none;
        }
      }

      &.mobile {
        @media (min-width: 650px) {
          display: none;
        }
      }

      span {
        font-size: 22px;

        b {
          margin-left: 5px;
        }

        &:last-of-type {
          b {
            color: hsl(var(--orange));
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      a {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: hsl(var(--white));
          border: 1px solid hsl($go-back-button);

          span {
            color: hsl($go-back-button);
          }

          svg {
            margin-right: 10px;

            path {
              stroke: hsl($go-back-button);
            }
          }

          &:hover {
            background-color: hsl(var(--black));
            border-color: hsl(var(--black));

            span {
              color: hsl(var(--white));
            }

            svg {
              path {
                stroke: hsl(var(--white));
              }
            }
          }

          &:active {
            background-color: hsl(var(--darken-black-active));
          }
        }
      }

      button {
        span {
          color: hsl(var(--white));
        }
      }
    }
  }
}
