@import '../variables';

.content {
    padding: 40px 0; // top&bottom left&right

    &__container {
        width: $content-width;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 830px) {
            flex-direction: column;

            .categories {
                margin-bottom: 25px;
            }
        }

        @media (max-width: 600px) {
            .categories {
                ul {
                    flex-direction: column;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    &__title {
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 50px;
        margin-top: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 600px){
            text-align: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 

        @media (max-width: 1345px) {
            grid-template-columns: repeat(3, 1fr); 
        }

        @media (max-width: 1035px) {
            grid-template-columns: repeat(2, 1fr); 
        }

        @media (max-width: 745px) {
            grid-template-columns: repeat(1, 1fr); 
        }
    }
}