@import '../variables';

.content {
    padding: 40px 0; // top&bottom left&right

    &__container {
        width: $content-width;
        margin: 0 auto;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 50px;
        margin-top: 50px;
        text-overflow: ellipsis;
        overflow:scroll;
        white-space: nowrap;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr); // 4 columns
        grid-column-gap: 25px;
    }
}