@import './variables';

.button {
  cursor: pointer;
  background-color: $orange;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: background-color $duration ease-in-out;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
  }

  &.black {
    width: 100%;
    max-width: 200px;
    color: #ffffff;
    background-color: #282828;

    &:hover {
      background-color: lighten(#282828, 7%);
    }

    &:active {
      background-color: lighten(#282828, 12%);
    }
  }

  &-order-overlay {
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:disabled {
      cursor: auto;
      background-color: #d0d0d0;

      .counter__overlay {
        b {
          color: #d0d0d0;
        }
      }
    }

    span {
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
    }

    .counter__overlay {
      margin-left: 8px;

      b {
        display: inline-block;
        border-radius: 30px;
        font-style: normal;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        width: 26px;
        height: 26px;
        color: $orange;
        background-color: #ffffff;
        border: 1px solid #ffffff;
      }
    }
  }
}
