@import './normalize';
@import './variables';

body {
  background-color: $background;
}

#root {
  display: grid;
  place-items: center;
  padding: 20px;

  @media (max-width: 745px) {
    padding: 10px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1375px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 15px;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
