@import './all_components';
@import './all_pages';

@import './animations';
@import './utils';

:root {
  --black: 0 0% 15%;
  --darken-black-hover: 0 0% 12%;
  --darken-black-active: 0 0% 10%;

  --white: 0 0% 100%;

  --background: 43 100% 77%;

  --orange: 17 99% 56%;
  --darken-orange-hover: 17 99% 52%;
  --darken-orange-active: 17 99% 45%;

  --disabled: 0, 0%, 82%;

  --colors-transition-duration: 0.15s;

  --content-width: 90%;
}

body {
  background-color: hsl(var(--background));
}

#root {
  display: grid;
  place-items: center;
  padding: 20px;

  @media (max-width: 745px) {
    padding: 10px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1375px;
  height: 100%;
  background: hsl(var(--white));
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 1rem;
}
