@import './../../styles/variables';

.content {
  display: grid;
  place-items: center;
  padding: 40px 0; // top&bottom left&right

  &__container {
    width: $content-width;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .above-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 745px) {
        flex-direction: column;

        .sort {
          margin-top: 25px;
        }
      }
    }

    h2 {
      font-size: 38px;
      font-weight: 800;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media (max-width: 600px) {
        text-align: center;
      }
    }

    .pizzas {
      [data-container='parent'] {
        display: flex;
        justify-content: center;
      }

      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 645px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
