.header {
  display: grid;
  place-items: center;
  padding: 40px 0;
  border-bottom: 1px solid hsl(0 0% 97%);

  @media (max-width: 940px) {
    padding: 20px 5px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: var(--content-width);
    height: 56px;

    &__left {
      display: flex;
      height: 100%;
      width: 100%;
      gap: 1.25rem;

      .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
          color: hsl(0 0% 9%);
          font-size: 24px;
          font-weight: 800;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        p {
          color: hsl(0 0% 48%);
        }
      }

      .search {
        gap: 0.8rem;
        min-width: 276px;
        display: inline-flex;
        align-items: center;
        border: 1px solid hsl(0 0% 80%);
        border-radius: 10px;
        padding: 15px;
        transition: border-color var(--colors-transition-duration) ease-in-out;

        &:focus-within {
          border-color: hsl(0 0% 65%);
        }

        input {
          border: 0px;
          width: calc(100% - 60px);
          font-size: 1rem;
        }

        svg:nth-child(3) {
          cursor: pointer;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &__right {
      height: 100%;

      a {
        button {
          min-width: 188px;
          height: 100%;

          display: flex;
          align-items: center;
          padding: 12px 25px;

          span {
            color: hsl(var(--white));
            font-weight: 600;
            font-size: 16px;
          }

          div {
            width: 1px;
            height: 20px;
            background-color: hsl(0 0% 90%);
            margin-left: 14px;
            margin-right: 14px;
          }

          svg {
            margin-right: 5px;
          }
        }
      }
    }

    @media (max-width: 940px) {
      gap: 1.25rem;
      height: max-content;
      flex-direction: column;
      align-items: center;

      &__left {
        flex-direction: column-reverse;

        .logo {
          justify-content: center;
        }
      }
    }
  }
}
