.overlay {
  z-index: 5;
  position: fixed;
  inset: 0px;
  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;

  transition: background-color 400ms, visibility 400ms;

  &.opened {
    background-color: rgba(0, 0, 0, 0.65);
    visibility: visible;
  }

  .characteristics {
    color: hsl(219, 10%, 40%);
  }

  h4 {
    font-size: 20px;
    font-weight: 900;
  }

  .push {
    margin-top: auto;
  }

  .selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: hsl(0, 2%, 91%);
    border-radius: 10px;
    padding: 5px;
    text-align: center;

    ul {
      display: flex;

      li {
        cursor: pointer;
        flex: 1;
        font-weight: 600; // semi-bold
        font-size: 16px;
        padding: 8px;

        @media (max-width: 805px) {
          cursor: auto;
        }

        &.selected {
          cursor: auto; // if option already selected -> !cursor: pointer
          background-color: hsl(var(--white));
          border-radius: 7px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04); // x, y, blur radius, color
        }
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    min-height: 50px;
    gap: 0.5rem;
    align-items: center;
    background-color: hsl(var(--orange));
    border-color: hsl(var(--orange));

    span {
      font-size: 1rem;
      font-weight: 600;
      color: hsl(var(--white));
    }

    div {
      b {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        font-size: 1rem;
        width: 26px;
        height: 26px;
        color: hsl(var(--orange));
        background-color: hsl(var(--white));
      }
    }
  }

  .pizza-details-mobile-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -100%;
    width: 100%;
    min-height: 625px;
    background-color: hsl(var(--white));
    border-top-right-radius: 1.75rem;
    border-top-left-radius: 1.75rem;

    transition: bottom 400ms; // apply to the initial state not to the .active state

    &.slide-in {
      bottom: 0;
    }

    @media (min-width: 805px) {
      display: none;
    }

    &__top {
      position: relative;
      display: grid;
      place-items: center;
      border-bottom: 1px solid hsl(0, 0%, 95%);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      img {
        position: relative;
        top: 0.4rem;
        transition: all 0.15s ease;
      }

      svg {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    &__bottom {
      padding: 0.6rem 1rem; // vertical horizontal
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      background: hsl(0, 0%, 98%);

      button {
        cursor: auto;
      }
    }
  }

  .pizza-details-desktop-wrapper {
    z-index: 10;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 850px;
    min-height: 600px;
    background: hsl(var(--white));
    border-radius: 20px;

    transform: scale(0.85);
    opacity: 0;
    visibility: hidden;

    transition: transform 400ms, opacity 400ms, visibility 400ms;

    &.scale-in {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 805px) {
      display: none;
    }

    svg {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -42px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.04);
      }
    }

    &__leftpart {
      display: grid;
      place-items: center;
      flex: 1;
      border-right: 1px solid hsl(0, 0%, 95%);

      img {
        position: relative;
        right: -12px;
        transition: all 0.15s ease;
      }
    }

    &__rightpart {
      display: flex;
      gap: 0.4rem;
      flex-direction: column;
      padding: 20px 30px; // vertical horizontal
      width: 100%;
      max-width: 330px;
      background: hsl(0, 0%, 98%);
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}
