.overlay {
  z-index: 5;
  position: fixed;
  inset: 0px;
  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;

  transition: background-color 400ms, visibility 400ms;

  &.opened {
    background-color: rgba(0, 0, 0, 0.65);
    visibility: visible;
  }

  .characteristics {
    color: #5c6370;
  }

  .description {
    span {
      color: #000000;
    }
  }

  .push {
    margin-top: auto;
  }

  .selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #e8e7e7;
    border-radius: 10px;
    padding: 5px;
    text-align: center;

    ul {
      display: flex;

      li {
        cursor: pointer;
        flex: 1;
        font-weight: 600; // semi-bold
        font-size: 16px;
        padding: 8px;

        @media (max-width: 805px) {
          cursor: auto;
        }

        &.selected {
          cursor: auto; // if option already selected -> !cursor: pointer
          background-color: #ffffff;
          border-radius: 7px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04); // x, y, blur radius, color
        }
      }
    }
  }

  .pizza-details-mobile-wrapper {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -100%;
    width: 100%;
    min-height: 625px;
    background-color: #ffffff;
    border-top-right-radius: 1.75rem;
    border-top-left-radius: 1.75rem;

    transition: bottom 400ms; // apply to the initial state not to the .active state

    &.slide-in {
      bottom: 0;
    }

    @media (min-width: 805px) {
      display: none;
    }

    &__top {
      position: relative;
      display: grid;
      place-items: center;
      border-bottom: 1px solid #f1f1f1;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      img {
        position: relative;
        top: 0.4rem;
        transition: all 0.15s ease;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;

        path {
          fill: #7c7c7c;
        }
      }
    }

    &__bottom {
      padding: 0.6rem 1rem; // vertical horizontal
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      background: #f9f9f9;

      button {
        cursor: auto;
      }
    }
  }

  .pizza-details-desktop-wrapper {
    z-index: 10;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 850px;
    min-height: 600px;
    background: #ffffff;
    border-radius: 20px;

    transform: scale(0.85);
    opacity: 0;
    visibility: hidden;

    transition: transform 400ms, opacity 400ms, visibility 400ms;

    &.scale-in {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: 805px) {
      display: none;
    }

    svg {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -42px;
      transition: transform 0.2s ease-in-out;

      path {
        fill: #ffffff;
      }

      &:hover {
        transform: scale(1.04);
      }
    }

    &__leftpart {
      display: grid;
      place-items: center;
      flex: 1;
      border-right: 1px solid #f1f1f1;

      img {
        position: relative;
        right: -12px;
        transition: all 0.15s ease;
      }
    }

    &__rightpart {
      display: flex;
      gap: 0.4rem;
      flex-direction: column;
      padding: 20px 30px; // vertical horizontal
      width: 100%;
      max-width: 330px;
      background: #f9f9f9;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}
