.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;

    img {
      transform: rotate(180deg);
      margin-right: 7px;
      transition: transform 0.25s ease-in-out;

      &.active {
        transform: rotate(0deg);
      }
    }

    b {
      margin-right: 7px;
    }

    span {
      color: hsl(var(--orange));
      border-bottom: 1px dashed hsl(var(--orange));
      cursor: pointer;
    }
  }

  &__popup {
    z-index: 1;
    position: absolute; // in this example popup don't shift design to bottom
    right: 0;
    background-color: hsl(var(--white));
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin-top: 16px;
    width: 150px;
    padding: 10px 0; // top&bottom left&right

    ul {
      li {
        cursor: pointer;
        padding: 12px 25px;

        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          background: rgba(254, 95, 30, 0.05);
          font-weight: bold;
          color: hsl(var(--orange));
        }
      }
    }
  }
}
