.cart-item {
  margin-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #f6f6f6;

  img {
    display: flex;
    height: 80px;
    width: 80px;
  }

  .info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 22px;
      text-overflow: ellipsis;
      overflow: scroll;
      white-space: nowrap;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  .amount {
    width: 15%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    b {
      font-size: 22px;
      margin-right: 10px;
    }

    button {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 2px solid #d0d0d0;
      border-radius: 30px;
      display: inline-block;
      transition: all $duration ease-in-out;

      svg {
        position: absolute;

        path {
          fill: #d0d0d0;
        }
      }

      &:first-of-type {
        margin-right: 10px;

        svg {
          top: 9px;
          right: 7px;
        }
      }

      &:nth-of-type(2) {
        svg {
          top: 8px;
          right: 7px;
        }
      }

      &.active {
        border-color: $orange;

        svg {
          path {
            fill: $orange;
          }
        }

        &:hover {
          background-color: $orange;

          svg {
            path {
              fill: #ffffff;
            }
          }
        }

        &:active {
          background-color: darken($orange, 10%);
          border-color: darken($orange, 10%);
        }
      }
    }
  }

  .cost {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    b {
      font-size: 22px;
    }
  }

  .remove {
    display: grid;
    align-items: center;

    button {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 2px solid #d0d0d0;
      border-radius: 30px;
      transition: all $duration ease-in-out;

      svg {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      &:hover {
        background-color: #2a2a2a;
        border-color: #2a2a2a;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }

      &:active {
        background-color: lighten(#2a2a2a, 8%);
        border-color: lighten(#2a2a2a, 8%);
      }
    }
  }
}
