.cart-item {
  display: none;
  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    margin-right: 0.5rem;
  }

  .cost {
    width: 100%;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: end;

    b {
      font-size: 22px;
    }
  }

  .remove {
    margin-left: 0.5rem;
    display: grid;
    align-items: center;

    button {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: 2px solid #d0d0d0;
      border-radius: 9999px;
      transition: all $duration ease-in-out;

      svg {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      &:hover {
        background-color: #2a2a2a;
        border-color: #2a2a2a;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }

      &:active {
        background-color: lighten(#2a2a2a, 8%);
        border-color: lighten(#2a2a2a, 8%);
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 225px;
    justify-content: center;

    h3 {
      font-size: 22px;
      text-overflow: ellipsis;
      overflow: scroll;
      white-space: nowrap;
    }

    p {
      font-size: 18px;
      color: #8d8d8d;
    }
  }

  .amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

    b {
      font-size: 22px;
    }

    button {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 30px;
      background-color: white;
      display: inline-block;
      border-radius: 9999px;
      border: 2px solid $orange;

      svg {
        position: absolute;

        path {
          fill: $orange;
        }
      }

      &:nth-of-type(1) {
        svg {
          top: 9px;
          right: 7px;
        }
      }

      &:nth-of-type(2) {
        svg {
          top: 8px;
          right: 7px;
        }
      }

      &:hover {
        background-color: $orange;

        svg {
          path {
            fill: white;
          }
        }
      }

      &:active {
        background-color: darken($orange, 5%);
        border-color: darken($orange, 5%);

        svg {
          path {
            fill: white;
          }
        }
      }

      &:disabled {
        cursor: auto;

        background-color: #ffffff;
        border-color: #d0d0d0;

        svg {
          path {
            fill: #d0d0d0;
          }
        }
      }
    }
  }
}

.cart-item.mobile {
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  img {
    width: 65px;
    height: 65px;
  }

  .amount {
    max-width: 120px;
  }

  div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 0.35rem;
    // padding-right: 0.35rem;
  }

  div:nth-child(2) {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    // padding-left: 0.4rem;
    // padding-right: 0.4rem;
  }
}

.cart-item.desktop {
  border-top: 1px solid #e1dede;

  img {
    width: 80px;
    height: 80px;
  }

  .amount {
    max-width: 130px;
  }

  @media (min-width: 650px) {
    display: flex;
    justify-content: space-between;
  }
}
