.cart-item {
  display: none;
  padding-bottom: 1rem;
  padding-top: 1rem;

  img {
    margin-right: 0.5rem;
  }

  .cost {
    width: 100%;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: end;

    b {
      font-size: 22px;
    }
  }

  .remove {
    margin-left: 0.5rem;
    display: grid;
    place-items: center;

    button {
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: hsl(var(--white));
      border: 2px solid hsl(0, 0%, 82%);
      border-radius: 9999px;

      svg {
        path {
          stroke: hsl(0, 0%, 82%);
        }
      }

      &:active {
        background-color: hsl(var(--darken-black-active));
        border-color: hsl(var(--darken-black-active));
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 225px;
    justify-content: center;

    h3 {
      font-size: 22px;
      text-overflow: ellipsis;
      overflow: scroll;
      white-space: nowrap;
    }

    p {
      font-size: 18px;
      color: hsl(0, 0%, 55%);
    }
  }

  .amount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;

    b {
      font-size: 22px;
    }

    button {
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 9999px;
      background-color: hsl(var(--white));
      border: 2px solid hsl(var(--orange));

      svg {
        path {
          stroke: hsl(var(--orange));
        }
      }

      &:disabled {
        background-color: hsl(var(--white));
        border-color: hsl(var(--disabled));

        svg {
          path {
            stroke: hsl(var(--disabled));
          }
        }
      }
    }
  }
}

.cart-item.mobile {
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  img {
    width: 65px;
    height: 65px;
  }

  .amount {
    max-width: 120px;

    button {
      &:active:not([disabled]) {
        background-color: hsl(var(--darken-orange-active));
        border-color: hsl(var(--darken-orange-active));

        svg {
          path {
            stroke: hsl(var(--white));
          }
        }
      }
    }
  }

  div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div:nth-child(2) {
    display: flex;
    justify-items: center;
    justify-content: space-between;
  }
}

.cart-item.desktop {
  border-top: 1px solid hsl(0, 5%, 88%);

  img {
    width: 80px;
    height: 80px;
  }

  .remove {
    button {
      cursor: pointer;

      &:hover {
        background-color: hsl(var(--darken-black-hover));
        border-color: hsl(var(--darken-black-hover));

        svg {
          path {
            stroke: hsl(var(--white));
          }
        }
      }
    }
  }

  .amount {
    max-width: 130px;

    button {
      cursor: pointer;

      &:disabled {
        cursor: auto;
      }

      &:hover:not([disabled]) {
        background-color: hsl(var(--darken-orange-hover));
        border-color: hsl(var(--darken-orange-hover));

        svg {
          path {
            stroke: hsl(var(--white));
          }
        }
      }
    }
  }

  @media (min-width: 650px) {
    display: flex;
    justify-content: space-between;
  }
}
